.treatment_centers_container_two_rows {
  display: flex;
  flex-direction: column;
}

.treatment_centers_container_two_rows h2,
.treatment_centers_container_two_rows h3 {
  text-align: center;
  width: 100%;
}

.treatment_center_container_two_rows {
  display: flex;
  flex-direction: column;
}

.treatment_center_card_container_two_rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.treatment_center_card_container_two_rows p {
  text-align: center;
  margin-bottom: 0;
}

.treatment_center_card_learn_more {
  margin-top: 0;
  text-align: center;
}

.treatment_center_card_learn_more a {
  margin-top: 25px;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .treatment_center_container_two_rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .treatment_center_container {
    max-width: 1500px;
    margin: 0 auto;
  }
  .treatment_center_card_container_two_rows {
    width: 48%;
  }
  .desktop_border_right {
    border-right: 1px solid #cdcdcd;
  }
  .desktop_border_left {
    border-left: 1px solid #cdcdcd;
  }
}

.treatment_centers_section {
  padding: 50px 0;
}

.treatment_center_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.treatment_center_card_container {
  width: 90%;
  margin: 0 auto;
}

.treatment_center_card_content_wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .treatment_center_card_container {
    width: 23%;
  }
  .treatment_center_card_content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 85%;
  }
}
