$white: #fff;
$grey-light: #ededed;
%remain-steps {
    &:before {
        content: counter(stepNum);
        font-family: inherit;
        font-weight: 700;
    }
    &:after {
        background-color: $grey-light;
    }
}
.treatment_step_progress_bar_section {
    position: relative;
    padding: 0 !important;
}

.treatment-step--sticky {
    position: sticky;
    z-index: 99;
    top: 130px;
    margin-left: -20px;
    background-color: #fff;
}
@include desktop {
    .treatment-step--sticky {
        top: 142px;
    }
}

@media (max-width: 540px) {
    .treatment-step--sticky {
        top: 115px;
    }
}

@media (max-width: 400px) {
    .treatment-step--sticky {
        top: 105px;
    }
}

.treatment_step_progress_bar_container {
    width: 100%;
    overflow-x: auto;
}
.multi-steps {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0 !important;
    padding: 10px 0;
    a {
        width: 75px;
        @include desktop {
            width: 25px;
        }
    }
    li {
        list-style: none;
    }
    > a {
        counter-increment: stepNum;
        text-align: center;
        display: table-cell;
        position: relative;
        color: $secondaryColor;

        &:before {
            content: "\f00c";
            content: "\2713;";
            content: "\10003";
            content: "\10004";
            content: "\2713";
            display: block;
            margin: 0 auto 4px;
            background-color: $white;
            width: 36px;
            height: 36px;
            line-height: 32px;
            text-align: center;
            font-weight: bold;
            border: {
                width: 2px;
                style: solid;
                color: $secondaryColor;
                radius: 50%;
            }
        }
        &:after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: $secondaryColor;
            position: absolute;
            top: 16px;
            left: 50%;
            z-index: -1;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }

        &.active-step {
            @extend %remain-steps;
            &:before {
                background-color: $primaryColor;
                border-color: $secondaryColor;
                color: $white;
            }

            ~ a {
                color: #808080;
                @extend %remain-steps;
                &:before {
                    background-color: $grey-light;
                    border-color: $grey-light;
                }
            }
        }
    }
}
