.button {
    background-color: $primaryColor;
    color: #fff;
    padding: 15px 20px;
    font-size: 24px;
    border-radius: 3px;
    text-align: center;
    &:hover {
        background-color: $tertiaryColor;
    }
    &--secondary {
        background-color: $secondaryColor;
    }
}
